@model IEnumerable<CruiseshipApp.Models.Beauty_Saloon>

@{
    ViewBag.Title = "BeautySaloonBooking";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>BEAUTY SALOON BOOKING</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info ">
            <strong>@TempData["AlertMessage"]</strong> 
        </div>
    }


</center>

<a href="ViewBookings" class="btn btn-info"> My Bookings</a>
<br />
<br />


<table class="table">
    <tr>
        @*        <th>
                @Html.DisplayNameFor(model => model.Saloon_id)
            </th>*@
        <th>
            Saloon
        </th>
        <th>
            Service
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*        <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*            <td>
                    @Html.DisplayFor(modelItem => item.Saloon_id)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Saloon_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saloon_service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
            <td>
                @Html.ActionLink("Book", "Book", new { id = item.Saloon_id })
                <a href="Book?id=@item.Saloon_id" class="btn btn-success"> Book</a>
                @*@Html.ActionLink("Make Payment", "SaloonPayment")*@
            </td>
        </tr>
    }

</table>
