@model IEnumerable<CruiseshipApp.Models.Beauty_Saloon>

@{
    ViewBag.Title = "BeautySaloonBooking";
    Layout = "~/Views/Saloon/Saloon_LayoutPage.cshtml";
}

<center>

    <h1>Welcome Voyager</h1>
    <div>
        @Html.ActionLink("Home", "VoyagerHome", "Home", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Movie Tickets", "MovieTicketBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Party Hall", "PartyHallBooking", "Party", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Fitness Centre", "FitnessCentreBooking", "Fitness", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Beauty Saloon", "BeautySaloonBooking", "Saloon", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Order Items", "ItemOrdereing", "Items", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Feedback", "Index", "Feedback", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
    </div>

    <h2>Beauty Saloon Booking</h2>

</center>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <tr>
@*        <th>
            @Html.DisplayNameFor(model => model.Saloon_id)
        </th>*@
        <th>
            Saloon
        </th>
        <th>
            Service
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*        <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Saloon_id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Saloon_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saloon_service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
            <td>
                @Html.ActionLink("Book", "Book", new { id = item.Saloon_id })
                @*@Html.ActionLink("Make Payment", "SaloonPayment")*@
            </td>
        </tr>
    }

</table>

@Html.ActionLink("View Bookings", "ViewBookings"@*, new { id = item.Movie_id }*@)


