@model CruiseshipApp.Models.Beauty_Saloon

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>BOOK PARTY HALL</h1>

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info ">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }

<form method="post" action="/Saloon/Confirm">
    <div>
        <h4>Beauty_Saloon</h4>
        <hr />
        <dl class="dl-horizontal">
            @*            <dt>
                    @Html.DisplayNameFor(model => model.Saloon_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Saloon_id)
                </dd>*@

            <dt>
                Saloom<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Saloon_name)
            </dd>

            <dt>
                Service<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.saloon_service)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Price)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @* <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>*@

            <dt>
                Date<br /><br />
            </dt>

            <dd>
                <label for="date">Select a Date:</label>
                <input type="date" name="dt" min="2023-01-02" required>
            </dd>

            <dt>
                Time<br /><br />
            </dt>

            <dd>
                <label for="tm">Select a time:</label>
                <select name="tm">
                    <option value="10:00">10:00 AM</option>
                    <option value="11:00">11:00 AM</option>
                    <option value="12:00">12:00 PM</option>
                    <option value="13:00">1:00 PM</option>
                    <option value="14:00">2:00 PM</option>
                    <option value="15:00">3:00 PM</option>
                    <option value="16:00">4:00 PM</option>
                    <option value="17:00">5:00 PM</option>
                </select><br /><br />
            </dd>


        </dl>
    </div>

    @* <a href="Confirm?" class="btn btn-success">Submit</a>*@
    <input type="submit" name="Confirm" value="Confirm" class="btn btn-success" />

    <a href="BeautySaloonBooking" class="btn btn-danger">Cancel</a>

    <br /><br />

</form>
</center>