@model CruiseshipApp.Models.Beauty_Saloon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Saloon/Saloon_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>DETAILS</h1><br />

    <div>

        <dl class="dl-horizontal" style="width=400px">
            <dt>
                Saloon<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Saloon_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.saloon_service)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.saloon_service)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @*        <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>*@

        </dl>
    </div>
@*    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Saloon_id })
        @Html.ActionLink("Back to List", "Index")
    </p>
*@