@model IEnumerable<CruiseshipApp.Models.Beauty_Saloon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Saloon/Saloon_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>MANAGE BEAUTY SALOON</h1>



    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info">
            <strong>@TempData["AlertMessage"]</strong> 
        </div>
    }


</center>
    @* <p>
            @Html.ActionLink("Add Beauty Saloon", "Create")
        </p>*@
    <a href="Create?" class="btn btn-success">ADD NEW BEAUTY SALOON</a><br /><br />

    <table class="table">
        <tr>
            <th>
                Saloon
            </th>
            <th>
                Service
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            @*        <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Saloon_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saloon_service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                @*            <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>*@
            <td>
      @*          @Html.ActionLink("Edit", "Edit", new { id = item.Saloon_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Saloon_id })*@

                <a href="Edit?id=@item.Saloon_id" class="btn btn-info">EDIT</a>
           
                <a href="Delete?id=@item.Saloon_id" class="btn btn-danger">DELETE</a>
            </td>
            </tr>
        }

    </table>

