@model IEnumerable<CruiseshipApp.Models.SaloonBookingDetails>

@*@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Saloon/Saloon_LayoutPage.cshtml";
}*@

<h2>ViewBookings</h2>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <tr>
        @*        <th>
            @Html.DisplayNameFor(model => model.Saloon_booking_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyager_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saloon_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.saloon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        @*        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*        <td>
            @Html.DisplayFor(modelItem => item.Saloon_booking_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voyager_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saloon_id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.saloon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.name)
        </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
   
            @if (item.Status == "Payment Pending")
            {
                <td>
                    @Html.ActionLink("Make Payment", "SaloonPayment", new { id = item.Saloon_booking_id })
                </td>
            }
            else /*if (item.Status == "PremiumPaid")*/
            {

            }

        </tr>
    }

</table>
@Html.ActionLink("Back to List", "BeautySaloonBooking"@*, new { id = item.Movie_bookings_id }*@)
