@model IEnumerable<CruiseshipApp.Models.SaloonBookingDetails>

@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>My Bookings</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }

    <table class="table">
        <tr>
            @*        <th>
                    @Html.DisplayNameFor(model => model.Saloon_booking_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voyager_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Saloon_id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.saloon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>

            @*        <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*        <td>
                        @Html.DisplayFor(modelItem => item.Saloon_booking_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voyager_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saloon_id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.saloon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                @if (item.Status == "Payment Pending")
                {
                    <td>
                        <a href="SaloonPayment?id=@item.Saloon_booking_id" class="btn btn-success"> Payment</a>
                    </td>
                }
                else /*if (item.Status == "PremiumPaid")*/
                {

                }

            </tr>
        }

    </table>
    <a href="BeautySaloonBooking?" class="btn btn-info">Back to List</a>
</center>