@model IEnumerable<CruiseshipApp.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}


<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>FEEDBACK</h1>

    <br />
@*    @Html.ActionLink("Add New", "Create")*@
</center>
<a href="/Feedback/Create" style="width: 200px; height: 35px;" " class="btn btn-success"> Add Feedback</a>

<br />

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

    

<table class="table">
    <tr>
        @*        <th>
                @Html.DisplayNameFor(model => model.Voyager_id)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Feedback
            @*@Html.DisplayNameFor(model => model.Feedback1)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*            <td>
                    @Html.DisplayFor(modelItem => item.Voyager_id)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback1)
            </td>
            <td>
                @*    @Html.ActionLink("Edit", "Edit", new { id = item.Feedback_id })
        @Html.ActionLink("Delete", "Delete", new { id = item.Feedback_id })*@

                <a href="Edit?id=@item.Feedback_id" class="btn btn-danger"> Edit</a>
                <a href="Delete?id=@item.Feedback_id" class="btn btn-danger"> Delete</a>
            </td>
        </tr>
    }

</table>
