@model CruiseshipApp.Models.Fitness_centre

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Fitness/Fitness_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>Are you sure you want to delete this?</h1>
    <div>

        <hr />
        <dl class="dl-horizontal" style="width:400px">
            <dt>
                Fitness<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fitness_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Place)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            @*        <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>*@

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
               @* @Html.ActionLink("Back to List", "Index")*@
                <a href="Index?" class="btn btn-success">Cancel</a>
            </div>
        }
    </div>
    </center>