@model IEnumerable<CruiseshipApp.Models.Fitness_centre>

@{
    ViewBag.Title = "FitnessCentreBooking";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}
<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>FITNESS CENTRE BOOKING</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info ">
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }

</center>

<a href="ViewBookings" class="btn btn-info"> My Bookings</a>
<br />
<br />


<table class="table">
    <tr>
@*        <th>
            @Html.DisplayNameFor(model => model.Fitness_id)
        </th>*@
        <th>
            Fitness
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Fitness_id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fitness_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
        <td>
            <a href="Book?id=@item.Fitness_id" class="btn btn-success"> Book</a>
        </td>
        </tr>
    }

</table>
