@model IEnumerable<CruiseshipApp.Models.Fitness_centre>

@*@{
    ViewBag.Title = "FitnessCentreBooking";
    Layout = "~/Views/Fitness/Fitness_LayoutPage.cshtml";
}*@

<center>

   @* <h1>Welcome Voyager</h1>*@
    <div>
        @Html.ActionLink("Home", "VoyagerHome", "Home", new { area = "" }, new { @class = "nav-link" }) 
       @* @Html.ActionLink("Book Movie Tickets", "MovieTicketBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Party Hall", "PartyHallBooking", "Party", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Fitness Centre", "FitnessCentreBooking", "Fitness", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Beauty Saloon", "BeautySaloonBooking", "Saloon", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Order Items", "ItemOrdereing", "Items", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Feedback", "Index", "Feedback", new { area = "" }, new { @class = "nav-link" }) |*@
        @*@Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })*@
    </div>

    <h2>Fitness Centre Booking</h2>

</center>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}
<table class="table">
    <tr>
@*        <th>
            @Html.DisplayNameFor(model => model.Fitness_id)
        </th>*@
        <th>
            Fitness
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Fitness_id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fitness_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                @Html.ActionLink("Book", "Book", new { id = item.Fitness_id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("View Bookings", "ViewBookings"@*, new { id = item.Movie_id }*@)