@model IEnumerable<CruiseshipApp.Models.Fitness_centre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Fitness/Fitness_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>MANAGE FITNESS CENTRE</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }
</center>

<a href="Create" class="btn btn-success">ADD FITNESS CENTRE</a>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Fitness
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fitness_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            @* <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Fitness_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Fitness_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Fitness_id })*@

            <a href="Edit?id=@item.Fitness_id" class="btn btn-info">EDIT</a>
            <a href="Details?id=@item.Fitness_id" class="btn btn-info">DETAILS</a>
            <a href="Delete?id=@item.Fitness_id" class="btn btn-danger">DELETE</a>
        </td>
        </tr>
    }

</table>
