@{
    Layout = "~/Views/Voyager/Voyager_LayoutPage.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <h1>Welcome Voyager</h1>
        <div>
            @Html.ActionLink("Book Movie Tickets", "MovieTicketBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Book Party Hall", "PartyHallBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Book Fitness Centre", "FitnessCentreBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Book Beauty Saloon", "BeautySaloonBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Order Items", "OrderItems", "Items", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) |
        </div>
    </center>
</body>
</html>
