@model IEnumerable<CruiseshipApp.Models.ViewPartyBookingDetails>

@{
    ViewBag.Title = "ViewPartyBookingDetails";
    Layout = "~/Views/Manager/Manager_LayoutPage.cshtml";
}



<center>

    <h2>Party Booking Details</h2>

    <div>
        @Html.ActionLink("Home", "Manager", "Manager", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Movie Booking Details", "ViewMovieBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Party Hall Booking Details", "ViewPartyBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Fitness Centre Details", "ViewFitnessBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Beauty Saloon Details", "ViewSaloonBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
    </div>

</center>


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Booking_details_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_for_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voyager_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HallName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.Booking_details_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_for_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voyager_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @*        <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "ViewBookings", "Manager", new { area = "" }, new { @class = "nav-link" }) 
