@model IEnumerable<CruiseshipApp.Models.ViewSaloonBookingDetails>

@*@{
        ViewBag.Title = "ViewSaloonBookingDetails";
        Layout = "~/Views/Manager/Manager_LayoutPage.cshtml";
    }*@

<center>
    @Html.ActionLink("Home", "Manager", "Manager", new { area = "" }, new { @class = "nav-link" })
    <h2>ViewSaloonBookingDetails</h2>
</center>



<table class="table">
    <tr>
        @*        <th>
                @Html.DisplayNameFor(model => model.Saloon_booking_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voyager_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saloon_id)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            User Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaloonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Payment Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.Saloon_booking_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voyager_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saloon_id)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usertype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaloonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>
