
@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Manager/Manager_LayoutPage.cshtml";
}



<center>

    <h2>View Boookings</h2>

    @Html.ActionLink("Home", "Manager", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Movie Booking Details", "ViewMovieBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Party Hall Booking Details", "ViewPartyBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Fitness Centre Details", "ViewFitnessBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Beauty Saloon Details", "ViewSaloonBookingDetails", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Back to List", "ViewBookings", "Manager", new { area = "" }, new { @class = "nav-link" }) |
    @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })



</center>