@model CruiseshipApp.Models.Movie_ticket

@{
    ViewBag.Title = "book";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}


<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>BOOK MOVIE TICKET</h1>


    <form method="Post" action="/Movie/Confirm">
        <div>

            <hr />
            <style>
            </style>
            <dl style="width:400px" class="dl-horizontal">


                <dt>
                    Movie<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Movie_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Screen)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Screen)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                    <br /><br />
                </dd>

                <dt>
                    Date
                </dt>

                <dd>
                    @*                <label for="date">Select a Date:</label>*@
                    <input type="date" name="dt" min="2023-08-20" class="form-control" required><br />
                </dd>

                <dt>
                    Seat
                </dt>

                <dd>
                    @*        <label for="st">Select number of seats:</label>*@
                    <input type="number" name="st" class="form-control" required />
                </dd>

            </dl>
        </div>

        <input type="submit" name="Confirm" value="Confirm" class="btn btn-success" />

        <a href="MovieTicketBooking" class="btn btn-danger">Cancel</a>

    </form>
</center>