@model CruiseshipApp.Models.Movie_ticket

@{
    ViewBag.Title = "book";
    Layout = "~/Views/Movie/Movie_LayoutPage.cshtml";
}
<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Are you sure you want to delete this?</h1>
    <div>
        <hr />
        <dl class="dl-horizontal" style="width:400px">
            <dt>
                Movie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Movie_name)<br /><br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Screen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Screen)<br /><br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)<br /><br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)<br /><br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @*        <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>*@

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger"/>
                @* @Html.ActionLink("Back to List", "Index")*@
                <a href="Index?" class="btn btn-default">Cancel </a>
            </div>
        }
    </div>
</center>