@model IEnumerable<CruiseshipApp.Models.Movie_ticket>

@{
    ViewBag.Title = "book";
    Layout = "~/Views/Movie/Movie_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>MANAGE MOVIE</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }

</center>


  
  <a href="Create" class="btn btn-success">ADD MOVIE</a><br /><br />
    <table class="table">
        <tr>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
              <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
        
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Screen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

            <td>
            @*    @Html.ActionLink("Edit", "Edit", new { id = item.Movie_id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Movie_id })*@

                <a href="Edit?id=@item.Movie_id" class="btn btn-info">EDIT</a>
                <a href="Delete?id=@item.Movie_id" class="btn btn-danger">DELETE</a>
            </td>
            </tr>
        }

    </table>
