@model IEnumerable<CruiseshipApp.Models.Movie_ticket>

@{
    ViewBag.Title = "MovieTicketBooking";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>MOVIE TICKET BOOKING</h1>
    <br />


</center>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*        <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
        <td>

       @*     @Html.ActionLink("Book", "Book", new { id = item.Movie_id })*@

            <a href="Book?id=@item.Movie_id" class="btn btn-success"> Book</a>

        </td>
        </tr>
    }

</table>
<center>
    <a href="ViewBookings" class="btn btn-info"> My Bookings</a>
</center>
