@model IEnumerable<CruiseshipApp.Models.MovieBookingDetails>

@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}


<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>My Bookings</h1>
    <br />


    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }

    <table class="table">
        <tr>
            @*        <th>
                    @Html.DisplayNameFor(model => model.Movie_bookings_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voyager_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.seat)
                </th>*@

            @*        <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            @* <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>*@
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*        <td>
                        @Html.DisplayFor(modelItem => item.Movie_bookings_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voyager_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.seat)
                    </td>*@


                @*<td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.movie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>


                @if (item.Status == "Payment Pending")
                {
                    <td>
                        <a href="MoviePayment?id=@item.Movie_bookings_id" class="btn btn-success"> Payment</a>
                    </td>
                }
                else
                {

                }

            </tr>
        }

    </table>
    
    <a href="MovieTicketBooking?" class="btn btn-info">Back to List</a>
    
</center>