@model CruiseshipApp.Models.Party_hall

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Party/Party_LayoutPage.cshtml";
}

<h2>Book</h2>

<form method="Post" action="/Party/Confirm">

    <div>
        <h4>Party_hall</h4>
        <hr />
        <dl class="dl-horizontal">
@*            <dt>
                @Html.DisplayNameFor(model => model.Hall_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hall_id)
            </dd>*@

            <dt>
                Hall Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hall_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Occasion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Occasion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Image)" width="200" height="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                Date
            </dt>

            <dd>
                <label for="date">Select a Date:</label>
                <input type="date" name="dt" min="2023-01-02" required>
            </dd>

            <dt>
                Time
            </dt>

            <dd>
                <label for="tm">Select a time:</label>
                <select name="tm" required>
                    <option value="9:00">9:00 AM</option>
                    <option value="16:00">4:00 PM</option>
                    <option value="22:00">10:00 PM</option>
                </select>
            </dd>

            @*            <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>*@

        </dl>
    </div>
    <p>
        <input type="submit" name="Confirm" value="Confirm" />
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        @Html.ActionLink("Back to List", "PartyHallBooking")
    </p>

</form>