@model CruiseshipApp.Models.Party_hall

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Party/Party_LayoutPage.cshtml";
}


<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>Are you sure you want to delete this?</h1>
    <hr />

    <div>

        <div>
            <dl class="dl-horizontal" style="width: 400px">
                <dt>
                    Hall
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hall_name)<br /><br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)<br /><br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Occasion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Occasion)<br /><br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    <img src="@Url.Content(Model.Image)" width="200" height="200" /><br /><br />

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>*@

            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a href="Index?" class="btn btn-default">Cancel </a>

            </div>
        }
    </div>
</center>