@model CruiseshipApp.Models.Party_hall

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Party/Party_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>DETAILS</h1><br />

    <div>

        <hr />
        <dl class="dl-horizontal" style="width:400px">
            <dt>
                @Html.DisplayNameFor(model => model.Hall_name)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hall_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Occasion)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Occasion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)<br /><br />
            </dt>

            <dd>
                <img src="@Url.Content(Model.Image)" width="350" height="250" /><br /><br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)<br /><br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @*        <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>*@

        </dl>
    </div>

</center>