@model IEnumerable<CruiseshipApp.Models.Party_hall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Party/Party_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>MANAGE PARTY HALL</h1>


    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info">
            <strong>@TempData["AlertMessage"]</strong> 
        </div>
    }
</center>
@*        <p>
            @Html.ActionLink("Add Party Hall", "Create")
        </p>*@

    <a href="Create?" class="btn btn-success">ADD NEW PARTY HALL</a><br /><br />

        <table class="table">
            <tr>
                <th>
                    Hall
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occasion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @*<th>
                           @Html.DisplayNameFor(model => model.Status)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hall_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <img src="@Url.Content(item.Image)" width="120" height="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occasion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                        @*</td>
                                    <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                            </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Hall_id })
                        @Html.ActionLink("Details", "Details", new { id = item.Hall_id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Hall_id })

                        <a href="Edit?id=@item.Hall_id" class="btn btn-info">EDIT</a>
*@

                        <a href="Details?id=@item.Hall_id" class="btn btn-info">DETAILS</a>
                        <a href="Delete?id=@item.Hall_id" class="btn btn-danger">DELETE</a>
                    </td>
                </tr>
            }

        </table>
