@model CruiseshipApp.Models.Item

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>CART</h1>

    <form method="post" action="/Items/Done">
        <div>
    
            <hr />
            <dl style="width:400px" class="dl-horizontal">
                @* <dt>
                    @Html.DisplayNameFor(model => model.Item_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item_id)
                </dd>*@

                <dt>
                    Item<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item_name)
                </dd>

                <dt>
                    Image<br /><br />
                </dt>

                <dd>
                    <img src="@Url.Content(Model.Image)" width="200" height="150" /><br /><br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type)<br /><br />
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    Quantity<br /><br />
                </dt>

                <dd>
                    <input type="text" name="qn" class="form-control" required />
                </dd>

            </dl>
        </div>
       
            <input type="submit" name="Done" value="Done" />
            @*        @Html.ActionLink("Done", "Done", new { /* id = Model.PrimaryKey */ })*@
           @*@Html.ActionLink("Back to List", "ItemOrdereing")*@
 

        @*<a href="Done?" class="btn btn-success">Done</a>*@
        <a href="ItemOrdereing" class="btn btn-danger">Cancel</a>

        <br /><br />

    </form>
    </center>