@model IEnumerable<CruiseshipApp.Models.Item>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Items/Items_LayoutPage.cshtml";
    }

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>MANAGE ITEMS</h1>
    <br />

    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }
    @* <p>
            @Html.ActionLink("Add new Items", "Create")
        </p>*@
</center>


<a href="Create" class="btn btn-success">ADD ITEMS</a>
<br />
<br />

<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td>
                <img src="@Url.Content(item.Image)" width="120" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Item_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Item_id })*@

                <a href="Edit?id=@item.Item_id" class="btn btn-info">EDIT</a>
                @* <a href="Details?id=@item.Item_id" class="btn btn-success">DETAILS</a>*@
                <a href="Delete?id=@item.Item_id" class="btn btn-danger">DELETE</a>
            </td>
        </tr>
    }

   
</table>
