@model IEnumerable<CruiseshipApp.Models.Item>

@{
    ViewBag.Title = "ItemOrdereing";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>ITEM ORDERING</h1>
    <br />



    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-info ">
            <strong>@TempData["AlertMessage"]</strong> 
        </div>
    }
</center>

<a href="ViewOrders" class="btn btn-success"> View Orders</a>
<br />
<br />

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Item_id)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Item_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Item_id)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td>
                <img src="@Url.Content(item.Image)" width="120" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @*  @Html.ActionLink("Add to Cart", "Cart", new { id = item.Item_id })*@
                <a href="Cart?id=@item.Item_id" class="btn btn-success"> Add to Cart</a>
            </td>
        </tr>


    }

</table>

@*@Html.ActionLink("View Orders", "ViewOrders", new { /* id = Model.PrimaryKey */ })*@
