@model IEnumerable<CruiseshipApp.Models.Item>

@*@{
    ViewBag.Title = "ItemOrdereing";
    Layout = "~/Views/Items/Items_LayoutPage.cshtml";
}*@

<center>

  @*  <h1>Welcome Voyager</h1>*@
    <div>
        @Html.ActionLink("Home", "VoyagerHome", "Home", new { area = "" }, new { @class = "nav-link" }) 
       @* @Html.ActionLink("Book Movie Tickets", "MovieTicketBooking", "Movie", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Party Hall", "PartyHallBooking", "Party", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Fitness Centre", "FitnessCentreBooking", "Fitness", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Book Beauty Saloon", "BeautySaloonBooking", "Saloon", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Order Items", "ItemOrdereing", "Items", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Feedback", "Index", "Feedback", new { area = "" }, new { @class = "nav-link" }) |*@
        @*@Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })*@
    </div>

    <h2>ItemOrdereing</h2>

</center>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Item_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Item_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Item_id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td>
                <img src="@Url.Content(item.Image)" width="120" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "Cart", new { id = item.Item_id })
            </td>
        </tr>


    }

</table>

@Html.ActionLink("View Orders", "ViewOrders", new { /* id = Model.PrimaryKey */ })
