@model IEnumerable<CruiseshipApp.Models.Order>

@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>VIEW ORDERS</h1>
    <br />

</center>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <tr>
        @*        <th>
            @Html.DisplayNameFor(model => model.Order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyager_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>

        <th>
            Payment Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voyager_id)
        </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               @* @Html.ActionLink("Items Details", "SingleItemsDetails", new { id = item.Order_id })*@
               @* @Html.ActionLink("Make Payment", "OrderPayment", new { id = item.Order_id })*@
            </td>



            @if (item.Status == "Payment Pending")
            {
                <td>
                   @* @Html.ActionLink("Make Payment", "OrderPayment", new { id = item.Order_id })*@
                    <a href="OrderPayment?id=@item.Order_id" class="btn btn-success"> Payment</a>
                </td>
            }
            else
            {

            }

           
        </tr>
    }

</table>
@*@Html.ActionLink("Back to List", "ItemOrdereing", new { /* id=item.PrimaryKey */ })*@

<center>
    <a href="ItemOrdereing" class="btn btn-success"> Back to List</a>
</center>